{#- overrides/home.html -#}
{% extends "base.html" %}

{% block libs %}
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  {{ super() }}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Dirt">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite">
{% endblock %}

{% block tabs %}
  <!-- Custom Homepage Content -->
  <section class="lp-container">
    <div class="hero">
      <div class="pfp-box">
        <p class="pfp">
        <img src="assets/images/pfp.png" alt="Profile photo"/>
        </p>
      </div>
      <h1>Ralph Laude</h1>
      <p>Technical Documentation | Automations and Workflows</p>
      <div class="navigation">
          <a href="projects/index.html" class="md-button md-button--primary">Projects</a>
          <a href="blog/index.html" class="md-button md-button--primary">Blog</a>
          <a href="about/index.html" class="md-button md-button--primary">About</a>
      </div>
    </div>
  </section>
{% endblock %}   

{% block scripts %}
  {{ super() }}
  <script src="assets/javascripts/home.js"></script>
{% endblock %}