/* Theme */
:root  > * {
  --md-primary-fg-color:                #576b33;
  --md-primary-fg-color--light:         #576b33;
  --md-primary-fg-color--dark:          #576b33;

  --md-accent-fg-color:                hsla(81, 39%, 52%, 1);
  --md-accent-fg-color--transparent:   hsla(81, 39%, 52%, 0.1);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);

  --md-footer-bg-color:                 #94b556;
  --md-footer-bg-color--dark:           #576b33;
}

[data-md-color-scheme="zima"] {
  --md-primary-fg-color:                #16B8F3;
  --md-primary-fg-color--light:         #16B8F3;
  --md-primary-fg-color--dark:          #16B8F3;

  --md-accent-fg-color:                 #16B8F3;
  --md-accent-fg-color--transparent:    #16B8F3;

  --md-footer-bg-color:                 #16B8F3;
  --md-footer-bg-color--dark:           #16B8F3;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color:                hsla(0, 100%, 0%, 1); 
}

/* Icons */

.linkedin {
  color: #0072b1;
}

/* Typography */
code.date-label {
  font-size: 0.7rem;
  font-style: italic;
}


/* Grids */

.grid-header {
  text-align:center;
}
.grid a {
  font-weight: bold;
}

/* UX Elements */
.skillset code {
  margin: 2px 0px;
  padding: 5px 8px;

  &:is(:focus, :hover) {
    cursor: default;
  }
}
div.pfp-box{
  display: grid;
  place-items: center;
}

p.pfp {
  background-color: var(--md-primary-fg-color);
  padding: 3px;
  width: 200px;
  height: 200px;
  border-radius: 100px; 
}



/*
.skillset code {
    margin-top: px2rem(10px);
    margin-right: px2rem(10px);
    color: var(--md-primary-bg-color);

    &:is(:focus, :hover) {
      color: var(--md-accent-bg-color);
      background-color: var(--md-primary-fg-color);
      border-color: var(--md-primary-fg-color);
      cursor: default;
    }

    &--primary {
      color: hsla(280, 37%, 48%, 1);
      background-color: var(--md-accent-bg-color);
      border-color: var(--md-accent-bg-color);
    }
}
*/